@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-pink: hsl(322, 100%, 66%);
    --color-light-pink: hsl(321, 100%, 78%);
    --color-light-red: hsl(0, 100%, 63%);
    --color-verydark-cyan: hsl(192, 100%, 9%);
    --color-verypale-blue: hsl(207, 100%, 98%);

    --fw-heading: 700;
    --fw-body-normal: 400;
    --fw-body-bold: 600;
    --fw-body-bolder: 700;

    --font-Poppins-headings: "Poppins", sans-serif;
    --font-OpenSans-body: "Open Sans", sans-serif;
}


body {
    font-family: var(--font-OpenSans-body);
    font-weight: var(--fw-body-normal);
}

.container-fluid {
    padding: 0;
}

/* --------------NAVBAR---------------- */

#ulHeader{
    margin-left: auto;
}

#HeaderBtn {
    color: var(--color-pink);
    border: 1px solid var(--color-pink);
    border-radius: 100px;
    width: 140px;
}

/* --------------BUILD COMMUNITY SECTION---------------- */

h1{
    font-family: var(--font-Poppins-headings);
    font-weight: var(--fw-heading);
}

p{
    color: var(--color-verydark-cyan);
    font-weight: var(--fw-body-bold);
}

p.num {
    font-size: 3.5rem;
    font-weight: var(--fw-heading);
}

#communityP{
    max-width: 500px;
}

#btn-geral{
    background-color: var(--color-pink);
    color: white;
    width: 230px;
    transition: .5s;
}

#btn-geral:hover{
    background-color: var(--color-light-pink);
}

.community-imgs{
    margin-left: -5rem;
}

/* --------------GRID SECTION---------------- */

#grow-div, #your-users{
    background: var(--color-verypale-blue);
}

h2{
    font-weight: var(--fw-heading);
    color: var(--color-verydark-cyan);
    font-size: 2rem;
}

.grid-item{
    padding-left: 5.5rem;
    padding-right: 5.5rem;
}

#ready-section{
    margin-top: 10rem;
    margin-bottom: 10rem;
}

/* --------------FOOTER SECTION---------------- */

h3{
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
}

#content-footer{
    background-color: var(--color-verydark-cyan);
    padding-top: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 4rem;
}

.footerP{
    color: white;
    max-width: 400px;
    line-height: 1.8;
}

.icons-geral {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#footer button {
    margin-left: 15px;
}


@media (max-width: 600px) {
    .grid-item{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    #nav-geral{
        align-items: center;
        justify-content: center;
    }

    #grid-section-geral{
        text-align: center;
    }

}
